.announce{
    text-align: center;
}

.project { 
    font-family: sans-serif;
    position: relative;
    width: 75%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.projectSubfieldTextArea { 
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    resize: none;
}

.projectTitleTextArea { 
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    resize: none;
}

.projectDescriptionTextArea { 
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    resize: none;
}

.projectDescriptionButton { 
    position: absolute;
    right: 20px;
    background-color: #6200EA;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-weight: bold; 
    cursor: pointer;
}

.buttons { 
    font-family: sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 500px;
    width: 75%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.button {
    background-color: #6200EA;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 18px;
    font-weight: bold; 
    cursor: pointer;
}