.project {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.project-description-title {
    text-align: center;
}

.project-description-content {
    width: 80%;
    margin: auto;
}

.project-description-subfield-text-area {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 24px;
    resize: none;
}

.project-description-title-text-area { 
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 24px;
    resize: none;
}

.project-description-description-text-area { 
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
    resize: none;
}

.projectDescriptionButton { 
    position: absolute;
    right: 20px;
    background-color: #6200EA;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-weight: bold; 
    cursor: pointer;
}

.project-description-buttons { 
    position: absolute;
    bottom: 2%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}