.landingBody {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

.landingheader .PEACE {
    font-size: 96px;
}
  
.container {
    text-align: center;
    max-width: 1200px;
    padding: 20px;
}
  
.landingheader {
    margin-bottom: 50px;
}
  
.landingheader .landingH1 {
    font-size: 36px;
    margin-bottom: 10px;
}
  
.landingheader .landingH1 .PEACE {
    font-weight: bold;
}
  
.landingheader .landingDescription {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}
  
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}
  
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.step .box {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin-bottom: 10px;
}
  
.step .stepH2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
  
.arrow {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  
.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.footer button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}
  
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
