.reorder-body {
    padding: 20px;
}
  
.reorder-body .title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
  
.reorder-body .description {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.reorder-body .reordering-window {
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 3%;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background: white;
    overflow-y: auto;
    max-height: 400px;
}

.reorder-body .reorder-card {
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    height: 200px;
}


.reorder-body .reorder-card-content {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fcfcfc;
    width: 100%;
    gap: 30px;
}

.reorder-body .reorder-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}
  
.reorder-body .reorder-buttons .reorder-button {
    cursor: pointer;
}

.reorder-body .reorder-card-content img {
    width: 10%;
}

.reorder-card-card-buttons {
    display: flex;
    margin: auto;
    margin-right: 30px;
}

.reorder-card-card-buttons img {
    width: 30px !important;
    cursor: pointer;
}


.reorder-takeaways {
    text-align: center;
}

.reorder-takeaways textarea {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    width: 80%;
    font-size: 18px;
}
