.draw-tarot-cards {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.header-brainstorm {
    text-align: center;
}

.draw-card-row {
    margin: 0px 250px;
    display: flex;
    flex-direction: row;
}
  
.card-draw {
    text-align: center;
    width: 25%;
}

.review-all-cards-button {
    margin: 50px 0px;
}
  
.draw-new-card-button {
    margin: 30px 0px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
/* .card {
    width: 25%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
} */


.response {
    width: 50%;
    margin: 0px 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.response-textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    resize: none;
}

.draw-page-buttons {
    display: flex;
    justify-content: space-between;
}

.draw-next-button {
    align-self: flex-end;
}