.page-buttons { 
    display: flex;
    justify-content: space-between;
}

.page-buttons-back-button {
    position: fixed;
    bottom: 2%;
    left: 1%;
}

.page-buttons-next-button {
    position: fixed;
    bottom: 2%;
    right: 1%;
}