/* .landingBody {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 70vh;
} */

.anticipate-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
    height: 40vh;
}

.anticipate-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anticipate-step .box {
    width: 200px;
    height: 150px;
    /* background-color: #ccc; */
    margin-bottom: 10px;
}

.anticipate-step .stepH2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.arrow {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.login-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

/* .login-buttons button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
} */

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
