.navbarButton {
    background-color: #6200EA;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 14px;
    margin-left: 100px;
    position: absolute;
    top: 5%;
    font-weight: bold; 
    cursor: pointer;
}

.TarotCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5% 1.5%;
    gap: 3%;
    padding: 0px 20px;
    border: 2px solid #000;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 525px;
}