.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b2e83;
    color: #fff;
}

.custom-navbar-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.custom-navbar-item {
    padding: 1rem;
    cursor: pointer;
}

.custom-navbar-item:hover {
    background-color: #8871b7;
    cursor: pointer;
}