.border{
    border: 2px solid #000;
}

.round{
    border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;  
}


.talk-bubble.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -30px;
  top: 30px;
	bottom: auto;
	border: 15px solid;
	border-color: #000 transparent transparent #000;
}

.talk-bubble.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -25px;
  top: 32px;
	bottom: auto;
	border: 20px solid;
	border-color: white transparent transparent white;
}


.talk-bubble {
    height: 100px;
    width: 40%;
    position: relative;
    cursor:pointer;
    padding: 5px;
    margin: 0 auto;
    margin-top: 1%;
	background-color: rgb(255, 255, 255);
}


.sprite-text {
    height: 100px;
    padding: 8px;
    flex-grow: 1;
    overflow-y: auto;
}

.sprite-avatar {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 25px;
    margin-right: 10px;
    left: 75%;
    bottom: 170px; /* Adjust the top position as needed */
}