.card {
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    overflow: visible;
    font-size: x-large;
    position: relative;
    padding: 20px;
    margin: 10px;
    width: 20%;
    text-align: center;
}

h3 {
    border-bottom: 2px solid #000;
    padding: 10px 0;
    margin: 0;
}

.card-text {
    height: 300px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.selectedIndicator {
    background-color: #6200EA;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 18px;
    font-weight: bold; 
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 0px;
    padding: 10px 15px;
    transform: translate(50%, -50%);
}