/* In your CSS file */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}


.bg-light {
  flex: 1; 
}