body {
  margin: 0;
  font-family: 'Anybody', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Anybody', sans-serif;
}

textarea {
  font-family: 'Anybody', sans-serif;
}